__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/
.vscode/
outputs/
runs/
checkpoints/
data_box/input/*
data_box/output/*
!data_box/input/.gitkeep
!data_box/output/.gitkeep
*.pt
*.pth
*.onnx
*.h5
